*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	line-height: 30px;
	/*overflow-x:hidden;*/
	font-family: sans-serif;
}
.buttons a{
	font-size: 15px;
	padding: 10px;
	display: inline-block;
}
.btn{
	height: auto;
	padding: 10px;
}
.btn-border{
	border: 2px solid #e5e5e5;
}
.btn-radius{
	border-radius: 10px;
}

.service :hover{
	opacity: 0.9;
	color: black;
}

.tem-title{
	font-weight: 2000px;
	font-size: 30px;
	margin-top: 30px;
}

.tem-ftr{
	margin-top: 20px;
	color: #999999; 
	font-size: 14px;
}























































@media Screen and (max-width: 1000px){
.header-image{
		display: none;
	}
}
@media Screen and (max-width: 1000px){
.nav{
		display: none;
	}
}

@media Screen and (max-width: 1000px){
.float-left{
		display: none;
	}
 .float-right{
 	display: none;
 }	

}
@media Screen and (max-width: 1000px){
.logo{
	float: right;
}
 
}











