*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	line-height: 30px;
	/*overflow-x:hidden;*/
	font-family: sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: Prata,serif;
	font-weight: 500;
}
.buttons a{
	font-size: 15px;
	padding: 10px;
	display: inline-block;
}
.btn{
	height: auto;
	padding: 10px;
}
.btn-border{
	border: 2px solid #e5e5e5;
}
.btn-radius{
	border-radius: 10px;
}

.service:hover{
	opacity: 0.9;
	/*color: black;*/
	cursor: pointer;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption .cap-p{
    font-size: 100%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.tem-title{
	font-weight: 2000px;
	font-size: 30px;
	margin-top: 30px;
}

.tem-ftr{
	margin-top: 20px;
	color: #999999; 
	font-size: 14px;
}
.ftr-list{
	margin-top: 140px;
	position: relative;
}
 .ftr-list span{
 	display: block;
 	margin: 15px;
 	font-family: Prata,serif; 

 
 }
 .ftr-list span a{
 	text-decoration: none;
 	color: #999999;
 	font-size: 1.5rem;
 	text-transform: none;
 	font-weight: 400;

 }
.ftr-list span a:hover
{
	color: #e9c0a4;
}
.News span{
	color: #e9c0a4;
	font-family: Prata,serif; 
}
.News a{
	text-decoration: none;
 	color: #000;
 	text-transform: none;

}
.News a:hover{
	color: #e9c0a4;
}

.News-cntr{
	font-family: Prata,serif; 
}
.News-cntr a{
	text-decoration: none;
	color: #000;
}
.News-cntr a:hover{
	color: #e9c0a4;
}
.News-disp{
      color: #999999;
      font-family: Prata,serif; 

}

.readmore{
	font-family: Prata,serif; 

}
.readmore a{
	text-decoration: none;
	color: #e9c0a4;

}
.Email{
	margin-top: 10px;
	font-family: Prata,serif;
	font-size: 30px;
	color: #e9c0a4; 
}
.back a{
	text-decoration: none;
	color: #e9c0a4;
}

.story-us{
	font-family: Prata,serif;


}
.story-us p{
	color: #999999;
}
.story-us span{
	font-size: 20px;
	font-weight: 500;
}

.story-us span:hover{
	color: #e9c0a4;
}

.about-btn{
	text-align: center;
}
.about-btn a{
         text-decoration: none;
         color: #e9c0a4;
}


/*-----form------*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/



.wrapper{
	/* font-family: 'Roboto', sans-serif;
  /*position: absolute;
  top: 50%;
  /*transform: translateY(-50%);*/
  width: 100%;
  padding: 0 20px;
  margin-left: 10px;
}

.contact-form{
  /*display: flex;*/
  width: 100%
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  color: #000;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.3);*/
}

.input-fields{
	width: 100%;
 display: flex;
  flex-direction: column;
  margin-right: 4%;
  color: #000;
}

.input-fields,
.msg{
  width: 100%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #000;
  padding: 10px;
  color: #000;
  width: 100%;
}

.msg textarea{
  height: 100px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

.btn-frm {
    background: #000;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    /*cursor: pointer;*/
    text-transform: uppercase;
    width: 70%;
}
.btn-frm:hover
{
	background-color: #e9c0a1;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}


.prents-box{
	/*background-color: #ddd;*/
	display:flex;
}

.box{
	height: 400px;
	/*	background-color: orange;*/
	margin: 10px;
}

.footer-social li{
	display: inline-block;
	margin: 3px;
}
.footer-social li a{
	color: #999999;
}
.footer-social li a:hover{
	color: #e9c0a1;
	padding: 2px;
}
.back a:hover{
	color: #e9c0a1;
}
































@media Screen and (max-width: 1000px){
.header-image{
		display: none;
	}
}
@media Screen and (max-width: 1000px){
.nav{
		display: none;
	}
	.nav .collapse navbar-collapse{
		display: block;
	}
}

@media Screen and (max-width: 1000px){
.float-left{
		display: none;
	}
 .float-right{
 	display: none;
 }	

}
@media Screen and (max-width: 800px){
	body{
		overflow-x: hidden;
	}
}












